# Fichier d'exemple pour les variables d'environnement
# Entrez ici vos coordonnées bancaires pour une utilisation locale et sécurisée.
# Ce fichier est destiné à des fins de configuration et NE DEVRAIT PAS être versionné.

# BANQUE
BANK_NAME=
BANK_ACCOUNT_NUMBER=
BANK_IBAN=
BANK_BIC=

# API pour l'intégration si nécessaire
API_KEY=
API_SECRET=